{
  "versionFile": "version.json",
  "syncTargets": [],
  "hooks": {
    "enabled": false,
    "preCommit": "patch"
  },
  "git": {
    "commitMessage": "chore: bump version to {{version}} [skip ci]",
    "tagFormat": "v{{version}}",
    "autoTag": false
  },
  "ci": {
    "provider": "none",
    "onPush": "minor"
  },
  "strictMode": false
}

